@use "sass:color";

@mixin h1 {
    font-family: Clip;
    font-weight: 400;
    font-size: 45px;
    line-height: 120%;
    letter-spacing: 2%;
    vertical-align: middle;
}

@mixin h2 {
    font-family: Clip ;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 2%;
    vertical-align: middle;


}

@mixin text{
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;

}

$baseColor: #76B72A;

@mixin buttonGreen{
    width: 155px;
    height: 52px;
    gap: 8px;
    border-radius: 100px;
    padding-right: 32px;
    padding-left: 32px;
    background-color: $baseColor;
    cursor: pointer;

    &--active{
        background: color.adjust($baseColor, $lightness: -10%);
    }
}

@mixin buttonTransparent{
    width: 207px;
    height: 52px;
    gap: 8px;
    border-radius: 100px;
    border-width: 1px;
    border: 1px solid ;
    cursor: pointer;
    background: transparent;
}