@use '../components/mixins' as *;

.sectionHead{
    color: #ffffff;
    // background-image: url('../assets/images/bgHead.png');
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
    // width: 100%;
    // height: 100%;    // иметь ввиду что это изображение которое мы будем устанавливать на фон
    // opacity: 0.4;
    background: linear-gradient(0deg, #3262AC, #3262AC),
    linear-gradient(180deg, rgba(14, 59, 129, 0.6) 0%, rgba(50, 128, 172, 0.222) 79.02%);
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;

    &__firstColumn{
        height: 302px;
        width: 433px;
        transform: translateY(-50px);

        &__h1{
            @include h1;
            margin-bottom: 2vh;
        }

        &__text{
            @include text;
            margin-bottom: 3vh;
        }
    }

    &__secondColumn{
        height: 302px;
        width: 433px;
        transform: translateY(-50px);
    }

    &__button{
    @include buttonGreen;

    }
}