@use '../components/mixins' as *;

.sectionHead{
    color: white;
    background: linear-gradient(0deg, #3262AC, #3262AC),
    linear-gradient(180deg, rgba(14, 59, 129, 0.6) 0%, rgba(50, 128, 172, 0.222) 79.02%);
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;

    &__firstColumn{
        height: 302px;
        width: 433px;
        transform: translateY(-50px);

        &__h1{
            @include h1;
            margin-bottom: 2vh;
        }

        &__text{
            @include text;
            margin-bottom: 3vh;
        }
    }

    &__secondColumn{
        width: 400px;
        height: 500px;
        transform: translateY(-50px);
        gap: 15px;
        columns: 2;
        overflow: hidden;
        background: transparent;

        &__container{
            width: 150px;
            height: 250px;
            background-color:darkcyan;
            display: flex;
            flex-direction: column
        }
    }

    &__button{
    @include buttonGreen;

    }
}