$primary-color: #3262AC;

.header{
    background-color: $primary-color;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100px;
    box-sizing: border-box;
    gap: 5vw;
    
    margin: 0;
    padding: 0;
    
    &__logo{
        height: 100px;
        width: 100px;
        cursor: pointer;
    }

    &__nav {
        display: flex;
        gap: 1vw;
        align-items: center;

        &__button {
            background-color: transparent;
            border: 0;
            color: #ffffff;
            padding: 10px 20px;
            cursor: pointer;
        }
    }
    
}