@use 'sections/head' as *;
@use 'sections/contacts' as *;
@use 'sections/geografy' as *;
@use 'sections/hit' as *;
@use 'sections/map' as *;
@use 'sections/popular' as *;
@use 'sections/recipe' as *;
@use 'sections/traditional' as *;
@use 'header' as *;
@use 'footer' as *;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .site-wrapper {
    position: relative;
    transition: background-color 0.3s ease;
    
    &--dimmed {
      background-color: rgba(0, 0, 0, 0.5);
      
      &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 997;
      }
    }
  }